.l-header 
    padding: 10px 0
    position: fixed
    z-index: 4
    .toggle-button
        padding: 10px 10px
        border: 0px solid $white
        background-color: $white

        &-line 
            width: 30px
            height: 3px
            background-color: #222222
            

            &:not(:last-child)
                margin-bottom: 8px

            // &:first-child 
            //     width: 30px
            // &:nth-child(2)
            //     width: 17px
            // &:last-child 
            //     width: 23px

    /* State */
    .toggle-button.is-active 
        transform: translateX(100%)
        .toggle-button-line 
            &:first-child 
                opacity: 0
            &:nth-child(2) 
                transform: rotate(45deg)
            &:last-child 
                transform: rotate(-45deg) translate(7px,-8px)