.modal 
    padding: 20px 0

    position: fixed

    opacity: 0
    z-index: -1

    &.modal-bg
        height: 100vh
        background-color: hsla(0, 0%, 4%, 0.8)

        top: 0
        left: 0

    &.modal-center
        top: 50%
        left: 50%

        transform: translate(-50%, -50%)
   
    &.is-show
        opacity: 1
        z-index: 4

    &-close 
        width: 18px
        height: 18px

        fill: $white
        opacity: .7

        @include cq(700px)
            margin-right: 20px
        
        &:hover 
            opacity: 1

                    