.transitioned 
    .blog-card
        transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out
    .blog-card-thumb:before
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out   
    .footer-col-text.link
        transition: color 0.2s ease-in-out
    .footer-icon    
        transition: fill 0.2s ease-in-out