.video-modal 
    width: 100%
    max-width: 900px
    height: 600px

    text-align: right

    @include cq(1440px)
        max-width: 700px
        height: 500px

    @include cq(500px)
        max-width: 700px
        height: 300px

    &-box 
        height: 100%
        margin-top: 10px    
        background-color: $black
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6)

    &-video 
        width: 100%
        height: 100%
            