.l-wrapper,
.l-container, 
.l-header
    width: 100%
    margin: 0 auto

.l-container,
.l-container_wide  
    padding: 0 15px

.l-container
    max-width: 1140px

.l-header 
    padding: 30px 0

.l-grid 
    display: flex
.d-ai-c 
    align-items: center

