.advantages 
    margin-top: 100px

    &-list 
        margin-top: 50px

        @include cq(1200px)
            justify-content: center

        @include cq(700px)
            flex-direction: column
            max-width: 400px
            margin: 50px auto 0 auto

        &-item 
            flex: 0 0 25%
            position: relative

            &:hover .advantages-list-icon-is-different
                opacity: 1

            &:hover .advantages-list-icon
                opacity: 0

            @include cq(1200px)    
                margin: 0 20px

            @include cq(700px)
                margin-bottom: 20px 
                text-align: center

        &-images 
            margin-bottom: 30px

        &-icon-is-shape,
        &-icon-is-different
            position: absolute 
            top: 0

        &-icon-is-shape
            z-index: -1

        &-icon-is-different  
            opacity: 0
            left: -25px

        &-icon-is-different,
        &-icon 
            transition: opacity 0.3s ease-in-out

        &-name 
            margin-bottom: 20px
            font-weight: 600
            font-size: 18px            