
    
.banner 
    @include  bacground(url('../images/home-banner-bg.png'), cover, no-repeat, center)

    .l-container 
        padding-bottom: 68px
    
    .l-block 
        flex: 0 0 50%

    .description
        margin-bottom: 40px         

    &-img
        padding-top: 200px

    .watch-video 
        margin-top: 70px
        
        &-text 
            &-bold 
                font-weight: bold
                font-size: 17px

            &-description 
                margin-top: 5px

                font-size: 14px
                color: $gray
        