.blog 
    margin-bottom: 120px
    @include cq(700px)
        margin-bottom: 50px 

    &-box
        display: flex

        &.top-grid         
            margin-bottom: 70px 
            align-items: flex-end
            justify-content: space-between
            
            @include cq(700px)  
                margin-bottom: 25px 
                flex-direction: column
                align-items: center

        &.cards-grid
            margin: 0 -15px
            
            @include cq(700px)  
                flex-direction: column
                max-width: 400px
                margin: 0 auto

        &-part
            max-width: 500px

            @include cq(700px) 
                max-width: 100%
                margin-bottom: 20px

                text-align: center
                
    &-title 
        max-width: 400px    

        @include cq(700px)  
            max-width: 100%

    &-card
        $sides_margin: 15px

        max-width: calc(33.3% - #{$sides_margin*2})
        flex: 0 0 calc(33.3% - #{$sides_margin*2})
        margin: 0 $sides_margin

        border: 1px solid #eee

        &:hover 
            box-shadow: 0 10px 30px rgba(0,0,0,.1)
            border: 1px solid transparent
            
            .blog-card-thumb:before                
                transform: rotate(55deg) translate(0px, 420px)

        @include cq(700px)  
            max-width: 100%
            flex: 0 0 100%
            margin-bottom: 30px         

        &-thumb 
            position: relative
            overflow: hidden

            &:before 
                content: ''
                width: 130%
                height: 100%

                background-color: hsla(0, 0%, 100%, 0.5)

                position: absolute
                top: 0
                left: 0

                transform: rotate(55deg) translate(-80px, -300px)


        &-image 
            width: 100%

        &-details 
            padding: 25px

            @include cq(900px) 
                padding: 10px

        &-date,
        &-description 
            color: $gray
            font-size: 14px    

        &-date 
            font-weight: 600
            text-transform: uppercase    

        &-title 
            margin: 15px 0

            font-size: 18px    
            color: $sub_black

            @include cq(900px) 
                font-size: 16px   

        &-description 
            margin-bottom: 20px    
            line-height: 1.8

