.estimate 
    margin-top: 140px
    margin-bottom: 240px

    @include cq(1440px)
        margin-bottom: 140px

    @include cq(500px)
        margin-top: 20px
        margin-bottom: 40px

    .l-container
        @include cq(1000px)
            text-align: center

    &-box 
        padding: 90px 0
        display: flex
        align-items: center

        background: $primary_gradient

        color: #fff

        position: relative

        @include cq(1690px)
            padding: 50px 0

        @include cq(1100px)    
            padding: 20px 0
    
    &-title 
        margin-bottom: 30px
        font-size: 36px    

    .description 
        max-width: 765px

        color: #fff    

        @include cq(1690px)
            max-width: 650px

        @include cq(1000px)
            margin: 0 auto    

    &-button 
        margin-top: 30px
        border: 2px solid #fff

    &-image 
        position: absolute
        right: 0
        top: -20%

        @include cq(1440px)
            max-width: 550px

            top: 0

        @include cq(1100px)
            max-width: 450px

        @include cq(1000px)
            display: none



