.portfolio 
    margin-top: 100px 
    padding: 0 10px 0 150px 

    .primary-button 
        margin-top: 40px 

    .l-block 
        &:first-child 
            flex: 0 0 47%

    &-slider 
        .slider-image 
            max-width: 280px
        
        .slider-item 
            text-align: right