.portfolio 
    margin-top: 100px 
    padding: 0 10px 0 150px

    .primary-button 
        margin-top: 40px 

    .l-block 
        &:first-child 
            flex: 0 0 49%

    &-slider 
        .slider-image 
            width: 100%
            height: 385px
        
        .slider-item 
            flex: 0 0 33%
            max-width: 280px
            text-align: right
            line-height: 0